name: 'Checking files'
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
on:
  push:
  pull_request:
  workflow_dispatch:
    inputs:
      node-version:
        type: string
        description: 'NodeJS version to use'
        required: false
        default: 'lts/*'
      pnpm-version:
        type: string
        description: 'pnpm version to use'
        required: false
        default: 'latest'
env:
  NODE_VERSION: ${{ inputs.node-version || 'lts/*' }}
  PNPM_VERSION: ${{ inputs.pnpm-version || 'latest' }}
jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - name: Setup tooling
        uses: ./.github/actions/setup-tooling
        with:
          node-version: ${{ env.NODE_VERSION }}
          pnpm-version: ${{ env.PNPM_VERSION }}
      - name: Validate resume
        run: pnpm run validate
      - name: Lint source files
        run: pnpm run lint
